@import "tailwindcss";

@font-face {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  src: url("/client/src/assets/font/LilyScriptOne-regular.ttf") format("ttf");
}

h1 {
  font-family: "Kaushan Script", cursive;
}
